* {
  margin: 0;
  font-family: montserrat;
}

.watermark {
  font-size: 27rem;
  position: absolute;
  opacity: .08;
  z-index: -1;
  line-height: 90%;
  top: 120px;
}

@media (max-width: 420px) {
  .watermark {
    font-size: 20rem;
    top: 70px;
  }
}

.container {
  position: relative;
  max-width: 1366px;
  margin: auto;
  overflow: hidden;
}

nav {
  margin: .5rem 0;
}

nav .plane img {
  width: 30px;
  height: 20px;
}

@media (max-width: 420px) {
  nav .plane img {
    width: 25px;
    height: 15px;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: .5rem;
  color: #707070;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul .logo {
  margin-right: auto;
  margin-left: none;
  font-weight: bold;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  nav ul .logo {
    font-size: 1.3rem;
    margin-left: 0;
  }
}

nav ul li {
  margin-left: 1.5rem;
}

nav ul li :hover {
  font-weight: bold;
  -webkit-transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

nav ul li a {
  text-decoration: none;
  color: #707070;
}

@media (max-width: 420px) {
  nav ul li a {
    display: none;
  }
}

.hero {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 420px) {
  .hero {
    height: 300px;
  }
}

.hero .hero-left {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media (max-width: 420px) {
  .hero .hero-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
    height: 300px;
  }
}

.hero .hero-left .pink {
  position: absolute;
  height: 25px;
  width: 150px;
  background: #FF86A7;
  left: 0;
  top: 120px;
  z-index: -1;
}

@media (max-width: 420px) {
  .hero .hero-left .pink {
    top: 40px;
  }
}

.hero .hero-left .hero-text {
  line-height: 60px;
}

@media (max-width: 420px) {
  .hero .hero-left .hero-text {
    line-height: 40px;
  }
}

.hero .hero-left .hero-text h1 {
  font-size: 4rem;
  color: #707070;
}

@media (max-width: 420px) {
  .hero .hero-left .hero-text h1 {
    font-size: 2.2rem;
  }
}

.hero .hero-left .hero-text h3 {
  color: #707070;
  font-weight: normal;
  font-size: 2rem;
}

@media (max-width: 420px) {
  .hero .hero-left .hero-text h3 {
    font-size: 1rem;
  }
}

.hero .hero-left button {
  width: 25%;
  height: 50px;
  background-color: #FF86A7;
  border: none;
  color: white;
  font-size: 1rem;
  -webkit-transform: translatey(20px);
          transform: translatey(20px);
}

@media (max-width: 420px) {
  .hero .hero-left button {
    width: 50%;
    height: 40px;
  }
}

.hero .hero-right {
  background: url("../assets/des3.jpeg");
  width: 100%;
  height: 100%;
  margin-left: auto;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 420px) {
  .hero .hero-right {
    display: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0px;
            flex: 0 0 0;
  }
}

.section {
  position: relative;
  margin-top: .5rem;
}

.section .with-pink {
  position: relative;
  margin-right: 1rem;
}

.section .with-pink .pink {
  width: 20%;
  background-color: #FF86A7;
  margin-right: auto;
  height: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 25px;
}

@media (max-width: 420px) {
  .section .with-pink .pink {
    top: 10px;
    width: 5%;
  }
}

.section .with-pink h1 {
  width: 100%;
  text-align: right;
  color: #707070;
  font-weight: normal;
  font-size: 4rem;
  padding: .5rem;
  margin-right: 2rem;
  padding-right: 1rem;
}

@media (max-width: 420px) {
  .section .with-pink h1 {
    font-size: 1.5rem;
    width: 100%;
  }
}

.section-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
}

@media (max-width: 420px) {
  .section-main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section-main .section-left {
  background: url("../assets/des1.jpeg");
  width: 100%;
  min-height: 400px;
  margin-left: auto;
  background-size: cover;
  background-position: center center;
}

.section-main .section-right {
  width: 600px;
  padding: 2rem;
  padding-top: 0;
  position: relative;
}

@media (max-width: 420px) {
  .section-main .section-right {
    padding-bottom: 0;
  }
}

.section-main .section-right h3 {
  font-size: 2.5rem;
  font-weight: normal;
  color: #707070;
  margin-bottom: 1rem;
}

@media (max-width: 420px) {
  .section-main .section-right h3 {
    font-size: 1.8rem;
    margin-top: 1rem;
  }
}

.section-main .section-right p {
  color: #707070;
  font-size: 1.1rem;
}

@media (max-width: 420px) {
  .section-main .section-right p {
    font-size: .9rem;
  }
}

.section-main .section-right .pink {
  width: 100px;
  height: 30px;
  background: #FF86A7;
  position: absolute;
  top: 10px;
  right: 0;
  z-index: -1;
}

@media (max-width: 420px) {
  .section-main .section-right .pink {
    top: 20px;
  }
}

.featured-section {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 420px) {
  .featured-section {
    height: 300px;
  }
}

.feat {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
  -webkit-transition: .4s;
  transition: .4s;
}

.feat1 {
  background: url("../assets/featured/feat1.jpg");
  background-size: cover;
}

.feat2 {
  background: url("../assets/featured/feat2.jpg");
  background-size: cover;
}

.feat3 {
  background: url("../assets/featured/feat3.jpg");
  background-size: cover;
}

.feat4 {
  background: url("../assets/featured/feat4.jpg");
  background-size: cover;
}

.feat:hover {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.featured .featured-title {
  position: relative;
}

.featured .featured-title .pink {
  width: 300px;
  height: 40px;
  position: absolute;
  top: 25px;
  left: 0;
  background: #FF86A7;
  z-index: -1;
}

@media (max-width: 420px) {
  .featured .featured-title .pink {
    top: 0px;
    width: 200px;
    height: 20px;
  }
}

.featured .featured-title h1 {
  text-align: center;
  padding: 1rem;
  color: #707070;
  font-size: 3rem;
  font-weight: normal;
}

@media (max-width: 420px) {
  .featured .featured-title h1 {
    font-size: 1.5rem;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 300px;
  padding: 1rem;
  position: relative;
}

@media (max-width: 420px) {
  .footer {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
}

.footer .footer-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 420px) {
  .footer .footer-left {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
}

.footer .footer-left .footer-left-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  padding-top: 0;
  margin: 2rem 0;
}

.footer .footer-left .footer-left-left .foot-logo {
  margin-right: auto;
  margin-left: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: #707070;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

@media (max-width: 420px) {
  .footer .footer-left .footer-left-left .foot-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
  }
}

.footer .footer-left .footer-left-left .foot-logo img {
  width: 30px;
  height: 20px;
}

.footer .footer-left .footer-left-left .email {
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

@media (max-width: 420px) {
  .footer .footer-left .footer-left-left .email {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
  }
}

.footer .footer-left .footer-left-left .social {
  width: 100%;
  margin-left: 0;
}

.footer .footer-left .footer-left-left .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  font-size: 2rem;
  color: #707070;
  padding: 0;
}

.footer .footer-left .footer-left-left .social ul li {
  padding-right: 1rem;
}

.footer .footer-left .footer-left-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.footer .footer-left .footer-left-right .location, .footer .footer-left .footer-left-right .contact-num, .footer .footer-left .footer-left-right .contact-email {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: space-betweecen;
      align-content: space-betweecen;
}

@media (max-width: 420px) {
  .footer .footer-left .footer-left-right .location, .footer .footer-left .footer-left-right .contact-num, .footer .footer-left .footer-left-right .contact-email {
    font-size: .9rem;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .footer-left .footer-left-right .location i, .footer .footer-left .footer-left-right .contact-num i, .footer .footer-left .footer-left-right .contact-email i {
  padding: .5rem;
  font-size: 1.5rem;
  margin: .5rem;
  color: #707070;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

@media (max-width: 420px) {
  .footer .footer-left .footer-left-right .location i, .footer .footer-left .footer-left-right .contact-num i, .footer .footer-left .footer-left-right .contact-email i {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: .2rem;
    font-size: 1rem;
  }
}

.footer .footer-left .footer-left-right .location .cont, .footer .footer-left .footer-left-right .contact-num .cont, .footer .footer-left .footer-left-right .contact-email .cont {
  -webkit-box-flex: 5;
      -ms-flex: 5 5 0px;
          flex: 5 5 0;
}

.footer .footer-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  background: #FF86A7;
  color: white;
  padding: 1rem;
}

@media (max-width: 420px) {
  .footer .footer-right h3 {
    text-align: center;
    margin-bottom: .5rem;
  }
}

.footer-bottom {
  width: 100%;
  background: #f4f4f4;
  text-align: center;
  padding: .5rem;
  color: #707070;
  font-weight: 500;
}

@media (max-width: 420px) {
  .footer-bottom {
    font-size: .5rem;
    margin-top: .5rem;
  }
}

.watermark-foot {
  font-size: 25rem;
  position: absolute;
  opacity: .08;
  z-index: -1;
  line-height: 90%;
  top: 0px;
  left: -100px;
}

.input-field {
  position: relative;
  width: 250px;
  height: 44px;
  line-height: 44px;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #FF86A7;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  cursor: text;
}

input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #FF86A7;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #111;
}

input:invalid {
  outline: 0;
}

input:focus,
input:valid {
  border-color: #FF86A7;
}

input:focus ~ label,
input:valid ~ label {
  font-size: 14px;
  top: -24px;
  color: #FF86A7;
}

.subscribe {
  width: 120px;
  height: 30px;
  background: #FF356C;
  border: 0;
  color: white;
}
/*# sourceMappingURL=index.css.map */